@charset "UTF-8";
:root {
  --logo-color: #2196f3;
  --second-logo-color: #212121;
  --accent-color: #2196f3;
  --first-title-color: #ffffff;
  --second-title-color: #212121;
  --text-color: #757575;
  --btn-text-color: #212121;
  --contacts-footer-color: rgba(255, 255, 255, 0.6);
  --color-btn-menu: #f5f4fa;
  --color-button: #188ce8;
  --transition-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
}

body {
  font-family: roboto, sans-serif;
  color: var(--second-title-color);
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2, h3,
p {
  margin: 0;
  padding: 0;
}

.list,
.logo,
.link {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  width: 200px;
  height: 50px;
  color: var(--color-btn-menu);
  background-color: var(--color-button);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  -webkit-transition: background-color var(--transition-hover);
  transition: background-color var(--transition-hover);
}
.button:hover, .button:focus {
  background-color: var(--accent-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}
.page-header__logo {
  margin-right: 93px;
}
@media screen and (min-width: 480px) {
  .page-header__logo {
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .page-header__logo {
    margin-right: 88px;
  }
}

.logo {
  display: block;
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: var(--second-logo-color);
}

.logo__decoration {
  color: var(--logo-color);
}

.link {
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--second-title-color);
  -webkit-transition: color var(--transition-hover);
  transition: color var(--transition-hover);
}
.link:hover, .link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .content-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  padding: 32px 0;
}
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

.nav__link {
  padding: 32px 0;
}

.contacts-header {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .contacts-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}
@media screen and (max-width: 768px) {
  .contacts-header {
    display: none;
  }
}

.contacts-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #757575;
  background-color: #ffffff;
  color: var(--text-color);
  -webkit-transition: fill var(--transition-hover), color var(--transition-hover);
  transition: fill var(--transition-hover), color var(--transition-hover);
}
@media screen and (min-width: 1200px) {
  .contacts-header__link {
    padding: 32px 0;
  }
}
.contacts-header__link:hover .phone-icon, .contacts-header__link:focus .phone-icon {
  fill: var(--accent-color);
}
.contacts-header__link:hover .mail-icon, .contacts-header__link:focus .mail-icon {
  fill: var(--accent-color);
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
  -webkit-transition: fill var(--transition-hover);
  transition: fill var(--transition-hover);
}

.menu-open {
  display: block;
  margin-left: auto;
  padding: 0;
  background-color: #ffffff;
  border: 0;
  -webkit-transition: fill var(--transition-hover);
  transition: fill var(--transition-hover);
}
.menu-open:hover {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
}
.mob-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-left: 40px;
  padding-bottom: 48px;
}

.menu-close {
  display: block;
  margin-left: auto;
  padding: 0;
  background-color: #ffffff;
  border: 0;
  margin-top: 10px;
  margin-right: 15px;
  -webkit-transition: fill var(--transition-hover);
  transition: fill var(--transition-hover);
}
.menu-close:hover {
  fill: var(--accent-color);
}

.mob-menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
  margin-bottom: 64px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.mob-contacts__link--tel {
  font-size: 34px;
  line-height: 1.1764705882;
  color: var(--accent-color);
}
.mob-contacts__link--mail {
  font-size: 24px;
  line-height: 1.1666666667;
  color: #757575;
}

.mob-menu-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.mob-menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222222222;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mob-menu-soc__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
}

.hero {
  padding: 118px 0;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heropic-1x.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heropic-1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/heropic.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heropic.jpg");
    padding: 200px 0;
    max-width: 1600px;
  }
}
.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  max-width: 360px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.3636363636;
    color: var(--first-title-color);
    max-width: 696px;
  }
}

.benefits__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  min-height: 120px;
}

.benefits-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .benefits-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.benefits-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .benefits-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .benefits-list__item {
    text-align: left;
    max-width: 270px;
  }
}

.benefits-title {
  text-align: center;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin: 0 0 10px 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .benefits-title {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-title {
    text-align: left;
  }
}

.benefits-text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin: 0;
  padding: 0;
}

.examples {
  padding-top: 0;
}
.examples-title {
  margin-bottom: 50px;
}
.examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.examples-contents {
  position: relative;
}
.examples-contents__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .examples {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .examples {
    display: block;
  }
}

.team {
  background-color: #f5f4fa;
}
.team-title {
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}
.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
.team-list__item {
  width: 100%;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    max-width: 270px;
  }
}
.team-discription {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-discription__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}
.team-discription__text {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin: 0 0 16px 0;
  padding: 0;
  text-align: center;
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  padding: 0;
}
.soc-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  -webkit-transition: background-color var(--transition-hover), fill var(--transition-hover);
  transition: background-color var(--transition-hover), fill var(--transition-hover);
}
.soc-list__link:hover, .soc-list__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

/* Постійні клієнти */
.customers-title {
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers-title {
    font-size: 36px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .customers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

.customers-list__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .customers-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.customers__link {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #afb1b8;
  -webkit-transition: fill var(--transition-hover), border var(--transition-hover);
  transition: fill var(--transition-hover), border var(--transition-hover);
}
.customers__link:hover, .customers__link:focus {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.page-footer {
  padding: 60px 0;
  background-color: #2f303a;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .page-footer {
    text-align: left;
  }
}
.page-footer__logo {
  margin-bottom: 20px;
  color: #ffffff;
}

.content-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .content-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .content-footer {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-footer__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--contacts-footer-color);
}
.contacts-footer__link--color {
  color: var(--first-title-color);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--first-title-color);
}

@media screen and (min-width: 1200px) {
  .footer-socialnetwork {
    margin-left: 70px;
  }
}

.footer-soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
.footer-soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: #ffffff;
  -webkit-transition: background-color var(--transition-hover), fill var(--transition-hover);
  transition: background-color var(--transition-hover), fill var(--transition-hover);
}
.footer-soc__link:hover, .footer-soc__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    margin-left: auto;
  }
}

.form-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-btn-menu);
  margin-bottom: 20px;
}

.footer-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-field {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.footer-field__icon {
  margin-left: 10px;
}
.footer-field__input {
  margin-bottom: 20px;
  width: 450px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 15px;
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  cursor: pointer;
  -webkit-transition: color var(--transition-hover), border-color var(--transition-hover);
  transition: color var(--transition-hover), border-color var(--transition-hover);
}
@media screen and (max-width: 479px) {
  .footer-field__input {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-field__input {
    width: 358px;
    margin-right: 12px;
  }
}
.footer-field__input:focus {
  border-color: var(--accent-color);
  color: rgba(255, 255, 255, 0.6);
}

.list-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .list-btn {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .list-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
}

.portfolio-btn {
  background-color: var(--color-btn-menu);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
  -webkit-transition: color var(--transition-hover), background-color var(--transition-hover), -webkit-box-shadow var(--transition-hover);
  transition: color var(--transition-hover), background-color var(--transition-hover), -webkit-box-shadow var(--transition-hover);
  transition: color var(--transition-hover), background-color var(--transition-hover), box-shadow var(--transition-hover);
  transition: color var(--transition-hover), background-color var(--transition-hover), box-shadow var(--transition-hover), -webkit-box-shadow var(--transition-hover);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--color-btn-menu);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .portfolio {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: calc((100% - 60px) / 3);
  }
}
.portfolio-discription {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px 20px 24px;
}
.portfolio-discription__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
}
.portfolio-discription__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
  margin: 0 0 4px 0;
}

.prodject {
  position: relative;
  overflow: hidden;
}

.prodject__overlay {
  display: block;
  position: absolute;
  top: 0.5%;
  left: 0;
  height: 100%;
  color: var(--first-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  overflow: auto;
  -webkit-transition: -webkit-transform var(--transition-hover);
  transition: -webkit-transform var(--transition-hover);
  transition: transform var(--transition-hover);
  transition: transform var(--transition-hover), -webkit-transform var(--transition-hover);
}
.portfolio__link:hover .prodject__overlay, .portfolio__link:focus .prodject__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--transition-hover);
  transition: -webkit-box-shadow var(--transition-hover);
  transition: box-shadow var(--transition-hover);
  transition: box-shadow var(--transition-hover), -webkit-box-shadow var(--transition-hover);
}
.portfolio .portfolio__link:hover, .portfolio .portfolio__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--transition-hover), visibility var(--transition-hover);
  transition: opacity var(--transition-hover), visibility var(--transition-hover);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.1);
          transform: translate(-50%, -50%) scale(0.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform var(--transition-hover);
  transition: -webkit-transform var(--transition-hover);
  transition: transform var(--transition-hover);
  transition: transform var(--transition-hover), -webkit-transform var(--transition-hover);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}
.modal-title {
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
}
.modal-field {
  cursor: pointer;
  margin-bottom: 10px;
}
.modal-field .feedback {
  margin-bottom: 20px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline: 0;
  cursor: pointer;
  -webkit-transition: border var(--transition-hover);
  transition: border var(--transition-hover);
}
.modal-input:focus {
  border: 1px solid var(--accent-color);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
}

.modal-feedback {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  outline: 0;
  cursor: pointer;
}
.modal-feedback:focus {
  border: 1px solid var(--accent-color);
}
.modal-feedback:focus::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-feedback:focus::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-feedback:focus:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-feedback:focus::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-feedback:focus::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-chek {
  margin-bottom: 30px;
}

.policy-label span {
  border: 2px solid var(--second-logo-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: var(--transition-hover);
  transition: var(--transition-hover);
}

.policy-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.check-icon {
  fill: transparent;
}

.policy-check:checked + .policy-label span {
  background-color: var(--accent-color);
  fill: #ffffff;
  border: none;
}

.backdrop-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill var(--transition-hover);
  transition: fill var(--transition-hover);
}
.backdrop-btn:hover, .backdrop-btn:focus {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */