.container {
  margin: 0 auto;
  padding: 0 15px 0 15px;
  // width: 1200px;
  width: 100%;
  @include mobile{
    max-width: 480px;
  }
   @include tablet{
    max-width: 768px;
  }
   @include desktop{
    max-width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
  
  @include desktop{
    padding-top: 94px;
    padding-bottom: 94px;
  }
}